@model IEnumerable<HamroCarRental.Models.ViewModels.Homecar>


@{
    ViewData["Title"] = "Home";
    ViewData["Section"] = "Home";
}


@section AddCustomScripts{
    <script>
        function changeAgeRestriction(ageRestriction) {
            document.getElementById("AgeRestricted").value = ageRestriction;
            document.getElementById("PostIndexForm").submit();
        }

        function changeAvailability(availability) {
            document.getElementById("stockAvailability").value = availability;
            document.getElementById("PostIndexForm").submit();
        }    
		
		function changePrice(price){
			document.getElementById("sortingOrderCol").value = price;
			document.getElementById("PostIndexForm").submit();
		}

    </script>

}





<!-- Product -->
<section class="bg0 p-t-23 p-b-140 mt-5">
    <div class="container">
    <div class="p-b-10">
        <h4 class="ltext-103 cl5 text-dark mt-4 ">
            Available
        </h4>

        <form asp-action="PostIndex" id="PostIndexForm">
            <div class="row mt-5 mb-4">
                <div class="bor17 col-4 mx-3">
                    <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="searchBarValue" placeholder="Search by Car Titles | Actor" value="@ViewBag.searchBarValue"/>

                    <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04" type="submit" MaintainScrollPositionOnPostBack="true;">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </div>


                <div class="col">
                    <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04  js-show-filter col-3 float-right">
                        <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                        <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Filter
                    </div>


                </div>


                <!-- Filter -->
                <div class="dis-none panel-filter w-full p-t-10">
                    <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                        <div class="filter-col1 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                <i class="zmdi zmdi-long-arrow-up"></i>
                                <i class="zmdi zmdi-long-arrow-down"></i>
                                Sort By
                            </div>

                            <ul>
                                <li class="p-b-6" onclick="changePrice('pa')">
                                    <a class="@(ViewBag.sortingOrderCol == "all" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04 text-secondary")">
                                        Price: Low to High
                                    </a>
                                </li>

                                <li class="p-b-6" onclick="changePrice('pd')">
                                    <a class="@(ViewBag.sortingOrderCol == "all" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04 text-secondary")">
                                        Price: High to Low
                                    </a>
                                </li>
                                <input type="hidden" id="sortingOrderCol" name="sortingOrderCol" value="@ViewBag.sortingOrderCol"/>
                            </ul>
                        </div>

                        <div class="filter-col2 p-r-15 p-b-27 mx-4">
                            <div class="mtext-102 cl2 p-b-15">
                                car Availibility
                            </div>

                            <ul>
                                <li class="p-b-6" onclick="changeAvailability('all')">
                                    <a class="@(ViewBag.stockAvailability == "all" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04 text-secondary")">
                                        All
                                    </a>
                                </li>

                                <li class="p-b-6" onclick="changeAvailability('available')">
                                    <a class="@(ViewBag.stockAvailability == "available" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04 text-secondary")">
                                        Available
                                    </a>
                                </li>

                                <li class="p-b-6" onclick="changeAvailability('outOfStock')">
                                    <a class="@(ViewBag.stockAvailability == "outOfStock" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04 text-secondary")">
                                        Out of Stock
                                    </a>
                                </li>

                                <input type="hidden" id="stockAvailability" name="stockAvailability" value="@ViewBag.stockAvailability"/>

                            </ul>
                        </div>

                        <div class="filter-col4 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Age Restriction
                            </div>

                            <ul>
                                <li class="p-b-6" onclick="changeAgeRestriction('no')">
                                    <a class="@(ViewBag.AgeRestricted == "no" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04  text-secondary")">
                                        ALL
                                    </a>
                                </li>

                                <li class="p-b-6" onclick="changeAgeRestriction('yes')">
                                    <a class="@(ViewBag.AgeRestricted == "yes" ? "filter-link stext-106 trans-04 filter-link-active" : "filter-link stext-106 trans-04  text-secondary")">
                                        Rated PG-13
                                    </a>
                                    <input type="hidden" id="AgeRestricted" name="AgeRestricted" value="@ViewBag.AgeRestricted"/>
                                </li>


                            </ul>
                        </div>


                    </div>
                </div>
            </div>


            <div class="row isotope-grid mt-5">
                @foreach (var car in Model)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img class="product-img" src="@car.CarPictureURL" alt="IMG-PRODUCT">
                                <div class="example-overlay">
                                    @if (car.AvailableQuantity == 0)
                                    {
                                        <h5>
                                            <span class="badge badge-danger my-2 mr-2">Out of Stock</span>
                                        </h5>
                                    }
                                    else if (car.AvailableQuantity == -1)
                                    {
                                        <h5>
                                            <span class="badge badge-warning my-2 mr-2">Coming Soon</span>
                                        </h5>
                                    }
                                    else
                                    {
                                        <h5>
                                            <span class="badge badge-success my-2 mr-2">Quanity : @car.AvailableQuantity</span>
                                        </h5>
                                    }

                                </div>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                        <a href="" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        @car.CarModel
                                    </a>

                                    <span class="stext-118 cl3 trans-04 js-name-b2 p-b-6">
                                        Date Released: @Html.DisplayFor(modelItem => car.DateReleased)
                                    </span>

                                  @*  <span class="stext-118 cl3 trans-04 js-name-b2 p-b-6">
                                        Cast Members: @car.CastMember
                                    </span>*@

                                    <span class="stext-105 cl3">
                                        NRS. @car.StandardCharge
                                    </span>

                                        <div class="mt-3">
                                            <a href="@Url.Action("ProductDetail", "Home", new { id = car.CarModel})" class="btn btn-primary">View Details</a>
                                        </div>


                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </form>

        <!-- Load more -->
        <div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="zmdi zmdi-chevron-up"></i>
            </span>
        </div>
    </div>
</section>